altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
gTTS==2.5.1
idna==3.7
packaging==24.0
pefile==2023.2.7
plyer==2.1.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pywin32-ctypes==0.2.2
requests==2.32.1
schedule==1.2.1
setuptools==69.5.1
urllib3==2.2.1
playsound==1.2.2
